{{>layout/header}}

<link rel="stylesheet" href="/css/smartfarm.css">
</head>
<body>

{{>layout/navbar}}

<div class="container">
    <div id="main-row" class="row">
        <div id="left-side" class="col-md-4">
        </div>
        <div id="main" class="col-md-4">
            <div class="card">
                <div class="card-title">
                    <h2>
                        식물정보
                    </h2>
                </div>
                <div class="card-body">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <img src="/images/smartfarm.jpg" class="center-block"/>
                        <h4 class="plant-name">
                            {{name}}
                        </h4>
                        <h4 class="days">
                            {{proper_name}}와 함께 한 지 {{d-day}}일째
                        </h4>
                        <div class="card">
                            <h4 class="humidity">
                                현재 습도 : {{humidity}}
                            </h4>
                            <h4 class="soil">
                                현재 토양 상태 : {{status}}
                            </h4>
                        </div>
                        <hr/>

                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        <div id="right-side" class="col-md-4">
        </div>
    </div>
</div>

{{>layout/footer}}