<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .centered-content {
            text-align: center;
        }

        .rounded-box {
            border: 2px solid #333; /* 선의 두께 및 색상 지정 */
            border-radius: 10px; /* 모서리의 둥근 정도를 지정 */
        }

        .padding {
            padding: 20px; /* 내부 여백 설정 */
        }

        .flex-container {
            display: flex;
            flex-direction: row;
            align-items: center; /* 요소들을 수직으로 가운데 정렬 */
            justify-content: center; /* 요소들을 수평으로 가운데 정렬 */
        }
    </style>
    <title>Smart Farm</title>
</head>
<body>
<div class="container">
    <div class="centered-content rounded-box padding">
        <img src="http://placehold.it/150x150"/>
        <h2>{{name}}</h2>
        <div class="rounded-box flex-container">
            <p>현재 습도 :</p>&nbsp;
            <p>{{humidity}}</p>
            <p>%</p>
        </div>
        <div class="flex-container">
            <p>현재 토양 상태 :</p>&nbsp;
            <p>{{status}}</p>
        </div>
    </div>
</div>
</body>
</html>